<template>
  <div id="app">
    <input type="" v-model="name">
    <p v-text="name"></p>
    <p v-html="name"></p>
    <!-- for data secure-->
    <p v-if="name">Hi , {{ name }}</p>
    <p v-show="name">Hi Show, {{ name }}</p>
    <!-- v-if and v-show fast more than v-if -->
    <p v-if="name && name !=='master'">Hi else {{name}}</p>
    <p v-else-if="name === 'master'">:Hey</p>
    <p v-else>No Data</p>
    <!-- v-for -->
    <p v-for="(x,index) in list" :key="x"> {{ index }} -{{ key }} - {{x}}</p>
    <button v-on:click="sayHey">Hey you</button>
    <br>
    <button @click="sayHey2(222)">Hey you</button>
  
    <br>
    <hello name="1"></hello>
    <br>
    <hello :name="1"></hello>
    <br>
    <hello v-bind:name="name"></hello>
    <br>
    <hello :name="name"></hello>
    <br>
    <img :src="link" alt="">
    <br>
    <hello2-component name="ff"></hello2-component>
  </div>
</template>

<script>
  import Hello from './components/Hello'
  import Hello2Component from './components/Hello2'
  
  export default {
    components: {
      Hello,
      Hello2Component
    },
    data () {
      return {
        name: '',
        link: 'https://vuejs.org/images/logo.png',
        list: [
          1, 2, 3, 4, 5
        ]
      }
    },
    methods: {
      sayHey () {
        window.alert('Hey Hello ' + this.name)
      },
      sayHey2 (value) {
        window.alert('Hey Hello ' + value)
      }
    }
  }
</script>

<style>
  
</style>
