<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.js"></script>
</head>
<body>
    <div id="app">
        <input v-model.number="x">
        <input v-model.number="y">
        <p>{{ result }}</p>
        <p>{{ lastUpdate }}</p>
    </div>
    <script>
        new Vue({
            el: '#app',
            data () {
                return {
                    x: 0,
                    y: 0
                }
            },
            computed : {
                result () {
                    return this.x + this.y 
                },
                lastUpdate () {
                    this.result
                    return new Date()
                }
            }
        })
        </script>
</body>
</html>