<template>
    <div>
        {{ name }}
        <p ref="text">Test</p>
    </div>
</template>
<script>
export default {
  props: {
    name: {
      required: true
    }
  },
  beforeCreate () {

  },
  created () {

  },
  mounted () {
    console.log(this.$el)
    console.log(this.$refs.text)
    console.log($(this.$el))
      // $(this.$refs.text).rating()
  },
  beforeUpdated () {

  }
}
</script>